/* ----- LEAVE THIS STUFF ALONE ----- */

/* NAV */

*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

#navbar{
    width: calc(100% - 80px); 
    height: 100px;
    position: fixed; 
    background-color: rgb(255,255,255);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-bottom-color: rgb(226,232,240); 
    padding: 0 40px 0 40px;
    display: flex; flex-direction: row; align-items: center;
}

.navButtons{
    cursor: pointer;
    height: 40px; 
    padding: 0 20px 0 20px; 
    margin: 0 10px 0 10px;
    min-width: 70px;
    border: solid; border-width: 2px; border-color: black;
    background-color: rgb(255,255,255);
    font-size: 20px;
    font-weight: 500;
    outline: none;
    box-shadow: 0px 0px 0px black;
    transition: color,box-shadow 200ms;
}

.navButtons:hover{

    box-shadow: 6px 5px 0px black;
}

.pageTitle{
    margin-right: auto;
    font-size: 36px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

#mobileNavButton{
    width: 50px;
    height: 50px;
    overflow: hidden; padding: 0; margin: 0;
    background-color: white;
    border: solid; border-width: 2px; border-color: black;
    box-shadow: 0px 0px 0px black;
    transition: color,box-shadow 200ms;
    display: none;
    outline: none;
}

#mobileNavButton:hover{
    box-shadow: 6px 5px 0px black;
}

.mobileNavButtons{
    width: 100%;
    height: 100px;
    background-color: white;
    border-style: solid; border-width: 0 0 1px 0; border-color: rgb(226,232,240);
    outline: none;
    font-size: 26px;
    transition: color, background-color 300ms;
    font-weight: 500;
}

.mobileNavButtons:hover{
    color: white;
    background-color: black;
}

#mobileNav{
    height: 0%;
    width: 100%;
    position: fixed;
    background-color: white;
    transition: height, 400ms;
    overflow: hidden;
}

/* ROWS */

.row-container{
    display: flex; width: 100%; 
    flex-direction: row; 
    justify-content:center;
    flex-wrap: wrap;
    margin: 100px 0px 0px 0;
}

.row-item{
    width: 420px; height: auto; min-width: 420px;
    background-color: rgb(250,250,250); 
    padding: 40px; padding-bottom: 60px;
    margin: 0px 50px 0 50px;
}

.container-title{
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.centerImage{
    width: 400px; height: auto;
    margin: 50px;
}

/* OTHER STUFF */

.title-div{
    align-items: center;
    width: 100%; display: flex; justify-content: center;
    flex-direction: column;
}

.header-title{
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
}

.header-subtitle{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 0px 0 0 0;
    color: rgb(70,71,75);
}

@keyframes fade-in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* ------------- FOOTER --------------*/

.footer{
    width: 100%;
    display: flex;
}

/* ----- LEAVE THIS STUFF ALONE ----- */
/* - ADD MORE STYLES HERE IF NEEDED - */